<nav id="navigation" class="w-full backdrop-blur-md py-2 fixed z-50">
    <div class="w-11/12 mx-auto flex justify-between items-center">
        <a href="#navigation">
            <%= image_tag("logo_devone.png", :alt => "Home | DevOne") %>
        </a>
        <ul class="flex justify-between w-3/12">
            <li><a class="focus:font-semibold active:font-semibold" href="#">Le projet</a></li>
            <li><a class="focus:font-semibold active:font-semibold" href="#">La team</a></li>
            <li><a class="focus:font-semibold active:font-semibold" href="#">Follow</a></li>
        </ul>
        <a href="#" class="btn-primary">Se connecter</a>
    </div>
</nav>