<nav id="navigation" class="w-full backdrop-blur-md py-2 fixed z-50">
    <div class="w-11/12 mx-auto flex justify-between items-center">
        <%= link_to image_tag("logo_devone.png", :alt => "Home | DevOne"), root_path(landing_url) %>

        <ul class="flex justify-between w-3/12">
            <li><a class="focus:font-semibold active:font-semibold" href="#">Le projet</a></li>
            <li><a class="focus:font-semibold active:font-semibold" href="#">La team</a></li>
            <li><a class="focus:font-semibold active:font-semibold" href="#">Follow</a></li>
        </ul>

        <div class="flex items-center">
            <% if user_signed_in? %>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete,  class: "mr-4" %>
            <% else %>
                <%= link_to "Se connecter", "/users/sign_in", class: "mr-4" %>
                <a href="<%= "/users/sign_up" %>" class="btn-primary">S'inscrire</a>
            <% end %>
        </div>
    </div>
</nav>